.main_row_reportes_ttl {
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    h1 {
        font-weight: 600;
        font-size: 22px;
        text-align: left;
        color: #4d4d4d;
        margin: 0;
        span {
            font-size: 14px;
            font-weight: normal;
            margin-left: 30px;
        }
    }
}

.table_double_fixed_column {
    table {
        position: relative;
        tr {
            td {
                border-top: 1px solid #dde5ed;
            }
            th {
                &.days {
                    background-color: #c9c9c9;
                    color: #211a19;
                }
                &.fix_column.first {
                    position: sticky;
                    left: 0;
                    background-color: #e6e4e4;
                    padding: 0;
                    min-width: 150px;
                    font-size: 12px;
                    color: #211a19;
                }
                &.fix_column.second {
                    position: sticky;
                    left: 150px;
                    background-color: #e6e4e4;
                    padding: 0;
                    min-width: 150px;
                    font-size: 12px;
                    color: #211a19;
                }
            }
        }
    }
}

.modal_exito {
    .modal-body {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    p {
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        color: #4d4d4d;
        display: block;
        margin-top: 26px;
        margin-bottom: 53px;
    }
    button {
        width: 130px;
        height: 36px;
        border-radius: 10px;
        background: #ff6f61;
        box-shadow: 0px 3px 6px rgba(255, 111, 97, 0.4);
        font-weight: bold;
        font-size: 15px;
        text-align: center;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            color: #fff !important;
        }
    }
}