.main_row_reportes_ttl {
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    h1 {
        font-weight: 600;
        font-size: 22px;
        text-align: left;
        color: #4d4d4d;
        margin: 0;
    }
}